[Unit]
Description=System temperature Service

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/srv/systemp
ExecStart=python3 /srv/systemp/systemp.py
ExecStop=/bin/kill -2 $MAINPID
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
